#root {
  text-align: center;
}

body {
  background-color: #191724;
}

/* Styles for Dashboard */

.dashboard-page {
  color: black;
}
.dashboard-page .new-page {
  font-family: Arial, sans-serif;
  text-align: center;
}

.dashboard-page h1 {
  margin-bottom: 20px;
}

.dashboard-page .main-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.dashboard-page .large {
  /* background-color: #18276b; */
  padding: 30px;
  padding-top:0px;
  font-size: 20px;
  /* border: 1px solid #ccc; */
}

.dashboard-page .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.dashboard-page .small {
  /* background-color: #18276b; */
  padding: 20px;
  font-size: 16px;
  /* border: 1px solid #ccc; */
}

.dashboard-page div.main-content {
  background-color: rgb(14, 15, 75);
  border: green;
  padding: 10px;
  border-radius: 50px;

}